:root{
    --bg:hsl(218, 23%, 16%);
    --card-bg: hsl(217, 19%, 24%);
    --quote:hsl(193, 38%, 86%);
    --quote-num: hsl(150, 100%, 66%);
    --font-size: 18px;
    --font-family: 'Manrope', sans-serif;
    --font-weight:800;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg);
    display: grid;
    place-items: center;
}
main{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
}

.container{
    text-align: center;
    height: auto;
    max-width: 400px;
    background-color: var(--card-bg);
    margin: auto;
    padding: 2em;
    display: grid;
    place-items: center;
    grid-gap: 10% 10%;
}
#quote-number{
    color: var(--quote-num);
    text-transform: uppercase;
}
#quote{
    position:relative;
    font-size: var(--font-size);
    color: var(--quote);
    font-weight: var(--font-weight);
    margin-bottom: 0.5em;
}
#button{
    display: grid;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--quote-num);
    margin-top: 4px;
}
.button{
    display: grid;
    place-items: center;
}

/* hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--quote);
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: var(--card-bg);
    content: "''";
    font-size: 28px;
    padding: 0 4px;
    position: relative;
    top: -13px;
    color: var(--quote)
} */